/* this is the style of an unchecked "button" */
            .input-nm{
                display:inline-block;
                background:#96d4c1;
                width:70px;
            }
            .input-nm.checked{
                background:red;
                color:black;
                font-weight:bold
            }
            /* Hide the checkbox */
            .input-nm input{
                display:none
            }
            .input-nobel{
                display:inline-block;
                background:#52bdff;
                width:70px;
            }
            .input-nobel.checked{
                background:red;
                color:black;
                font-weight:bold
            }
            /* Hide the checkbox */
            .input-nobel input{
                display:none
            }
            .input-nm{
                display:inline-block;
                background:#96d4c1;
                width:70px;
            }
            /* This is the style for a checked "button" */
            .input-nm.checked{
                background:red;
                color:black;
                font-weight:bold
            }
            /* Hide the checkbox */
            .input-nm input{
                display:none
            }