{% extends "layout.html" %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<div class="col-xs-6">
	<center><h1>ML-based Material Data</h1>
		<h3>Select upto three Elements</h3></center>
		<table>
		  <tbody>
		    <tr>
		    	<!--<label class="input-check"><input onchange="change_state(this)" type="checkbox" value="1" name="test"/></label>-->
		      <td class = "element non-metal" align='center'><div id="H"class="symbol">H<br><input type=checkbox value="1" style="width:100% height:100%" id="ele"> </div></td>
		      <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element noble"><div id="He" class="symbol">He<br><input type=checkbox value="2" style="width:100% height:100%"> </div></td>
		    </tr>
		    <tr>
		      <td class="element alkali"><div id="Li" class="symbol">Li<br><input type=checkbox value="3" style="width:100% height:100%"> </div></td>
		      <td class="element alkaline"><div id="Be" class="symbol">Be<br><input type=checkbox value="4" style="width:100% height:100%"> </div></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		      <td class="element metalloid"><div id="B" class="symbol">B<br><input type=checkbox value="5" style="width:100% height:100%"> </div></td>
		      <td class="element non-metal"><div id="C" class="symbol">C<br><input type=checkbox value="6" style="width:100% height:100%"> </div></td>
		      <td class="element non-metal"><div id="N" class="symbol">N<br><input type=checkbox value="7" style="width:100% height:100%"> </div></td>
		      <td class="element non-metal"><div id="O" class="symbol">O<br><input type=checkbox value="8" style="width:100% height:100%"> </div></td>
		      <td class="element non-metal"><div id="F" class="symbol">F<br> <input type=checkbox value="9" style="width:100% height:100%"> </div></td>
		      <td class="element noble"><div id="Ne"class="symbol">Ne<br><input type=checkbox value="10" style="width:100% height:100%"> </div></td>
		    </tr>
		    <tr>
		       <td class="element alkali"><div id="Na" class="symbol">Na<br><input type=checkbox value="11" style="width:100% height:100%"> </div></td>
		       <td class="element alkaline"><div id="Mg" class="symbol">Mg<br> <input type=checkbox value="12" style="width:100% height:100%"> </div></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element post-transition"><div id="Al" class="symbol">Al<br> <input type=checkbox value="13" style="width:100% height:100%"> </div></td>
		       <td class="element metalloid"><div id="Si" class="symbol">Si<br> <input type=checkbox value="14" style="width:100% height:100%"> </div></td>
		       <td class="element non-metal"><div id="P" class="symbol">P<br> <input type=checkbox value="15" style="width:100% height:100%"> </div></td>
		       <td class="element non-metal"><div id="S" class="symbol">S<br> <input type=checkbox value="16" style="width:100% height:100%"> </div></td>
		       <td class="element non-metal"><div id="Cl" class="symbol">Cl<br> <input type=checkbox value="17" style="width:100% height:100%"> </div></td>
		       <td class="element noble"><div id="Ar"class="symbol"> Ar<br><input type=checkbox value="18" style="width:100% height:100%"> </div></td>
		    </tr>
		    <tr>
		      <td class="element alkali"><div id="K" class="symbol"> K<br><input type=checkbox value="19" style="width:100% height:100%"> </div></td>
		      <td class="element alkaline"><div id="Ca" class="symbol">Ca<br> <input type=checkbox value="20" style="width:100% height:100%"> </div></td>
		      <td class="element transition"><div id="Sc" class="symbol">Sc<br> <input type=checkbox value="21" style="width:100% height:100%"> </div></td>
		      <td class="element transition"><div id="Ti" class="symbol">Ti<br> <input type=checkbox value="22" style="width:100% height:100%"> </div></td>
		      <td class="element transition"><div id="V" class="symbol">V<br> <input type=checkbox value="23" style="width:100% height:100%"> </div></td>
		      <td class="element transition"><div id="Cr" class="symbol">Cr<br> <input type=checkbox value="24" style="width:100% height:100%"> </div></td>
		      <td class="element transition"><div id="Mn" class="symbol">Mn<br><input type=checkbox value="25" style="width:100% height:100%"> </div></td>
		      <td class="element transition"><div id="Fe" class="symbol">Fe<br><input type=checkbox value="26" style="width:100% height:100%"> </div></td>
		      <td class="element transition"><div id="Co" class="symbol">Co<br><input type=checkbox value="27" style="width:100% height:100%"> </div></td>
		      <td class="element transition"><div id="Ni" class="symbol">Ni<br><input type=checkbox value="28" style="width:100% height:100%"> </div></td>
		      <td class="element transition"><div id="Cu" class="symbol">Cu<br><input type=checkbox value="29" style="width:100% height:100%"> </div></td>
		      <td class="element post-transition"><div id="Zn" class="symbol">Zn<br><input type=checkbox value="30" style="width:100% height:100%"> </div></td>
		      <td class="element post-transition"><div id="Ga" class="symbol">Ga<br><input type=checkbox value="31" style="width:100% height:100%"> </div></td>
		      <td class="element metalloid"><div id="Ge" class="symbol">Ge<br><input type=checkbox value="32" style="width:100% height:100%"> </div></td>
		      <td class="element metalloid"><div id="As" class="symbol">As<br><input type=checkbox value="33" style="width:100% height:100%"> </div></td>
		      <td class="element non-metal"><div id="Se" class="symbol">Se<br><input type=checkbox value="34" style="width:100% height:100%"> </div></td>
		      <td class="element non-metal"><div id="Br" class="symbol">Br<br><input type=checkbox value="35" style="width:100% height:100%"> </div></td>
		      <td class="element noble"><div id="Kr" class="symbol">Kr<br><input type=checkbox value="36" style="width:100% height:100%"> </div></td>
		    </tr>
		    <tr>
		      <td class="element alkali"><div id="Rb" class="symbol">Rb<br><input type=checkbox value="37" style="width:100% height:100%"> </div></td>
		      <td class="element alkaline"><div id="Sr" class="symbol">Sr<br><input type=checkbox value="38" style="width:100% height:100%"> </div></td>
		      <td class="element transition"><div id="Y"class="symbol">Y<br><input type=checkbox value="39" style="width:100% height:100%"> </div></td>
		      <td class="element transition"><div id="Zr" class="symbol">Zr<br><input type=checkbox value="40" style="width:100% height:100%"> </div></td>
		      <td class="element transition"><div id="Nb" class="symbol">Nb<br><input type=checkbox value="41" style="width:100% height:100%"> </div></td>
		      <td class="element transition"><div id="Mo" class="symbol">Mo<br><input type=checkbox value="42" style="width:100% height:100%"> </div></td>
		      <td class="element transition"><div id="Tc" class="symbol">Tc<br><input type=checkbox value="43" style="width:100% height:100%"> </div></td>
		      <td class="element transition"><div id="Ru" class="symbol">Ru<br><input type=checkbox value="44" style="width:100% height:100%"> </div></td>
		      <td class="element transition"><div id="Rh" class="symbol">Rh<br><input type=checkbox value="45" style="width:100% height:100%"> </div></td>
		      <td class="element transition"><div id="Pd" class="symbol">Pd<br><input type=checkbox value="46" style="width:100% height:100%"> </div></td>
		      <td class="element transition"><div id="Ag" class="symbol">Ag<br><input type=checkbox value="47" style="width:100% height:100%"> </div></td>
		      <td class="element post-transition"><div id="Cd" class="symbol">Cd<br><input type=checkbox value="48" style="width:100% height:100%"> </div></td>
		      <td class="element post-transition"><div id="In" class="symbol">In<br><input type=checkbox value="49" style="width:100% height:100%"> </div></td>
		      <td class="element post-transition"><div id="Sn" class="symbol">Sn<br><input type=checkbox value="50" style="width:100% height:100%"> </div></td>
		      <td class="element metalloid"><div id="Sb" class="symbol">Sb<br><input type=checkbox value="51" style="width:100% height:100%"> </div></td>
		      <td class="element metalloid"><div id="Te" class="symbol">Te<br><input type=checkbox value="52" style="width:100% height:100%"> </div></td>
		      <td class="element non-metal"><div id="I" class="symbol">I<br><input type=checkbox value="53" style="width:100% height:100%"> </div></td>
		      <td class="element noble"><div id="Xe" class="symbol">Xe<br><input type=checkbox value="54" style="width:100% height:100%"> </div></td>
		    </tr>
		    <tr>
		      <td class="element alkali"><div id="Cs" class="symbol">Cs<br><input type=checkbox value="55" style="width:100% height:100%"> </div></td>
		      <td class="element alkaline"><div id="Ba" class="symbol">Ba<br><input type=checkbox value="56" style="width:100% height:100%"> </div></td>
		      <td class="element star">*<br></td>
		      <td class="element transition"><div id="Hf"class="symbol">Hf<br><input type=checkbox value="72" style="width:100% height:100%"> </div></td>
		      <td class="element transition"><div id="Ta"class="symbol">Ta<br><input type=checkbox value="73" style="width:100% height:100%"> </div></td>
		      <td class="element transition"><div id="W"class="symbol">W<br><input type=checkbox value="74" style="width:100% height:100%"> </div></td>
		      <td class="element transition"><div id="Re"class="symbol">Re<br><input type=checkbox value="75" style="width:100% height:100%"> </div></td>
		      <td class="element transition"><div id="Os"class="symbol">Os<br><input type=checkbox value="76" style="width:100% height:100%"> </div></td>
		      <td class="element transition"><div id="Ir"class="symbol">Ir<br><input type=checkbox value="77" style="width:100% height:100%"> </div></td>
		      <td class="element transition"><div id="Pt"class="symbol">Pt<br><input type=checkbox value="78" style="width:100% height:100%"> </div></td>
		      <td class="element transition"><div id="Au"class="symbol">Au<br><input type=checkbox value="79" style="width:100% height:100%"> </div></td>
		      <td class="element post-transition"><div id="Hg" class="symbol">Hg<br><input type=checkbox value="80" style="width:100% height:100%"> </div></td>
		      <td class="element post-transition"><div id="Tl" class="symbol">Tl<br><input type=checkbox value="81" style="width:100% height:100%"> </div></td>
		      <td class="element post-transition"><div id="Pb" class="symbol">Pb<br><input type=checkbox value="82" style="width:100% height:100%"> </div></td>
		      <td class="element post-transition"><div id="Bi" class="symbol">Bi<br><input type=checkbox value="83" style="width:100% height:100%"> </div></td>
		      <td class="element post-transition"><div id="Po" class="symbol">Po<br><input type=checkbox value="84" style="width:100% height:100%"> </div></td>
		      <td class="element metalloid"><div id="At" class="symbol">At<br><input type=checkbox value="85" style="width:100% height:100%"> </div></td>
		      <td class="element noble"><div id="Rn" class="symbol">Rn<br><input type=checkbox value="86" style="width:100% height:100%"> </div></td>
		    </tr>
		    <tr>
		      <td class="element alkali"><div id="Fr" class="symbol">Fr<br><input type=checkbox value="87" style="width:100% height:100%"> </div></td>
		      <td class="element alkaline"><div id="Ra" class="symbol">Ra<br><input type=checkbox value="88" style="width:100% height:100%"> </div></td>
		      <td class="element star">**<br></td>
		      <td class="element transition"><div id="Rf" class="symbol">Rf<br><input type=checkbox value="104" style="width:100% height:100%"> </div></td>
		      <td class="element transition"><div id="Db" class="symbol">Db<br><input type=checkbox value="105" style="width:100% height:100%"> </div></td>
		      <td class="element transition"><div id="Sg" class="symbol">Sg<br><input type=checkbox value="106" style="width:100% height:100%"> </div></td>
		      <td class="element transition"><div id="Bh" class="symbol">Bh<br><input type=checkbox value="107" style="width:100% height:100%"> </div></td>
		      <td class="element transition"><div id="Hs" class="symbol">Hs<br><input type=checkbox value="108" style="width:100% height:100%"> </div></td>
		      <td class="element unclassified"><div id="Mt" class="symbol">Mt<br><input type=checkbox value="109" style="width:100% height:100%"> </div></td>
		      <td class="element unclassified"><div id="Ds" class="symbol">Ds<br><input type=checkbox value="110" style="width:100% height:100%"> </div></td>
		      <td class="element unclassified"><div id="Rg" class="symbol">Rg<br><input type=checkbox value="111" style="width:100% height:100%"> </div></td>
		      <td class="element post-transition"><div id="Cn" class="symbol">Cn<br><input type=checkbox value="112" style="width:100% height:100%"> </div></td>
		      <td class="element unclassified"><div id="Nh" class="symbol">Nh<br><input type=checkbox value="113" style="width:100% height:100%"> </div></td>
		      <td class="element unclassified"><div id="Fl" class="symbol">Fl<br><input type=checkbox value="114" style="width:100% height:100%"> </div></td>
		      <td class="element unclassified"><div id="Mc" class="symbol">Mc<br><input type=checkbox value="115" style="width:100% height:100%"> </div></td>
		      <td class="element unclassified"><div id="Lv" class="symbol">Lv<br><input type=checkbox value="116" style="width:100% height:100%"> </div></td>
		      <td class="element unclassified"><div id="Ts" class="symbol">Ts<br><input type=checkbox value="117" style="width:100% height:100%"> </div></td>
		      <td class="element unclassified"><div id="Og" class="symbol">Og<br><input type=checkbox value="118" style="width:100% height:100%"> </div></td>
		    </tr>
		    <tr>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		    </tr>
		    <tr>
		       <td class="element empty"><br></td>
		       <td class="element star">*</td>
		       <td class="element lanthanide"><div id="La" class="symbol">La<br><input type=checkbox value="57" style="width:100% height:100%"> </div></td>
		       <td class="element lanthanide"><div id="Ce" class="symbol">Ce<br><input type=checkbox value="58" style="width:100% height:100%"> </div></td>
		       <td class="element lanthanide"><div id="Pr" class="symbol">Pr<br><input type=checkbox value="59" style="width:100% height:100%"> </div></td>
		       <td class="element lanthanide"><div id="Nd" class="symbol">Nd<br><input type=checkbox value="60" style="width:100% height:100%"> </div></td>
		       <td class="element lanthanide"><div id="Pm" class="symbol">Pm<br><input type=checkbox value="61" style="width:100% height:100%"> </div></td>
		       <td class="element lanthanide"><div id="Sm" class="symbol">Sm<br><input type=checkbox value="62" style="width:100% height:100%"> </div></td>
		       <td class="element lanthanide"><div id="Eu" class="symbol">Eu<br><input type=checkbox value="63" style="width:100% height:100%"> </div></td>
		       <td class="element lanthanide"><div id="Gd" class="symbol">Gd<br><input type=checkbox value="64" style="width:100% height:100%"> </div></td>
		       <td class="element lanthanide"><div id="Tb" class="symbol">Tb<br><input type=checkbox value="65" style="width:100% height:100%"> </div></td>
		       <td class="element lanthanide"><div id="Dy" class="symbol">Dy<br><input type=checkbox value="66" style="width:100% height:100%"></div></td>
		       <td class="element lanthanide"><div id="Ho" class="symbol">Ho<br><input type=checkbox value="67" style="width:100% height:100%"> </div></td>
		       <td class="element lanthanide"><div id="Er" class="symbol">Er<br><input type=checkbox value="68" style="width:100% height:100%"> </div></td>
		       <td class="element lanthanide"><div id="Tm" class="symbol">Tm<br><input type=checkbox value="69" style="width:100% height:100%"> </div></td>
		       <td class="element lanthanide"><div id="Yb" class="symbol">Yb<br><input type=checkbox value="70" style="width:100% height:100%"> </div></td>
		       <td class="element lanthanide"><div id="Lu" class="symbol">Lu<br><input type=checkbox value="71" style="width:100% height:100%"> </div></td>
		       <td class="element empty"><br></td>
		    </tr>
		    <tr>
		      <td class="element empty"><br></td>
		      <td class="element star">**<br></td>
		      <td class="element actinide"><div id="Ac" class="symbol">Ac<br><input type=checkbox value="89" style="width:100% height:100%"> </div></td>
		      <td class="element actinide"><div id="Th" class="symbol">Th<br><input type=checkbox value="90" style="width:100% height:100%"> </div></td>
		      <td class="element actinide"><div id="Pa" class="symbol">Pa<br><input type=checkbox value="91" style="width:100% height:100%"> </div></td>
		      <td class="element actinide"><div id="U" class="symbol">U<br><input type=checkbox value="92" style="width:100% height:100%"> </div></td>
		      <td class="element actinide"><div id="Np" class="symbol">Np<br><input type=checkbox value="93" style="width:100% height:100%"> </div></td>
		      <td class="element actinide"><div id="Pu" class="symbol">Pu<br><input type=checkbox value="94" style="width:100% height:100%"> </div></td>
		      <td class="element actinide"><div id="Am" class="symbol">Am<br><input type=checkbox value="95" style="width:100% height:100%"> </div></td>
		      <td class="element actinide"><div id="Cm" class="symbol">Cm<br><input type=checkbox value="96" style="width:100% height:100%"> </div></td>
		      <td class="element actinide"><div id="Bk" class="symbol">Bk<br><input type=checkbox value="97" style="width:100% height:100%"> </div></td>
		      <td class="element actinide"><div id="Cf" class="symbol">Cf<br><input type=checkbox value="98" style="width:100% height:100%"> </div></td>
		      <td class="element actinide"><div id="Es" class="symbol">Es<br><input type=checkbox value="99" style="width:100% height:100%"> </div></td>
		      <td class="element actinide"><div id="Fm" class="symbol">Fm<br><input type=checkbox value="100" style="width:100% height:100%"> </div></td>
		      <td class="element actinide"><div id="Md" class="symbol">Md<br><input type=checkbox value="101" style="width:100% height:100%"> </div></td>
		      <td class="element actinide"><div id="No" class="symbol">No<br><input type=checkbox value="102" style="width:100% height:100%"> </div></td>
		      <td class="element actinide"><div id="Lr" class="symbol">Lr<br><input type=checkbox value="103" style="width:100% height:100%"> </div></td>
		       <td class="element empty"><br>
		      </td>
		    </tr>
		  </tbody>
		</table>
		<br>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
		<center>
		<div>
			<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
			<button id='btn' onlick="popUp()">Submit</button>

			<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js">
			function popUp(){
				swal({
				  title: "Thank You!",
				  text: "Will you cite our work?",
				  icon: "info",
				  buttons: true,
				  dangerMode: true,
				})
				.then((willDelete) => {
				  if (willDelete) {
				    swal("Cite us here: xxxxxxx", {
				      icon: "success",
				    });
				  } else {
				    swal("Poof! You're nuts.");
				  }
				});
			}
			</script>
		</div>
		</center>
		<hr>
		<center>
			<div id="result"></div>
		<!-- 
		<label for="lname">Result</label><br>
  		<input type="text" id="lname" name="lname" value=""><br><br>
  		<input type="reset" value="Reset">
		 -->
		<div id="succeessAlert" class="alert alert-success" role="alert" style="display:none;"></div>
		</center>
		<hr>
		<h2>Alloy, Compound, Coarse-Grained and Fictional Data</h2>
		<p>
		  The following is a list of all of the multi-element systems and non-elemental materials that we
		  host potentials for.  <strong>NOTE: be sure to read the potential descriptions!</strong> The
		  multi-component potentials may not be applicable to the full composition range as they are
		  often designed for specific compounds and/or composition ranges.  Coarse-grained potentials
		  reduce the simulation complexity by representing alloy compositions or molecules with a single
		  particle type.  Fictional potentials were purposefully fit to unrealistic target properties and
		  therefore <i>should not</i> be used to accurately represent real materials.
		</p>
		<div class = "elem-group">
		    
		</div>
		<hr/>

		<h1>Citing</h1>
		<p>
		  If you find this website useful <strong>please cite this project in addition to any interatomic
		  potentials you use:</strong>
		</p>
		<p>
		  A. Beniwal, R. Dadhich, A. Alankar, Deep Learning Based Predictive Modeling for Structure-Property Linkages
		  <i>Materialia</i>, <b>8(2019)</b>, p. 100435. <br>DOI:
		   <a href="https://doi.org/10.1016/j.mtla.2019.100435">10.1016/j.mtla.2019.100435</a>
		</p>
		<!--<p>
		  L.M. Hale, Z.T. Trautt, and C.A. Becker (2018), "Evaluating variability with atomistic simulations:
		  the effect of potential and calculation methodology on the modeling of lattice and elastic constants,"
		  <i>Modelling and Simulation in Materials Science and Engineering</i>, <b>26</b>, 055003. DOI:
		   <a href="https://doi.org/10.1088/1361-651X/aabc05">10.1088/1361-651X/aabc05</a>
		</p>-->
		<p>
		  URL: <a href="https://www.me.iitb.ac.in/~alankar/">https://www.me.iitb.ac.in/~alankar/</a>
		  Website DOI: <a href="#"></a>Not Available</a>
		</p>
		<hr/>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script>
	$('input:checkbox').on('click',function () {
		for(i=0; i<3;i++)
		{
			var $box = $(this);
			if($box.is(":checked")){
				var group = "input:checkbox[name='" + $box.attr("name") + "']";
				$(group).prop("checked", false);
				$box.prop("checked", true);
			} 
			else {
				$box.prop("checked", false);
			}
		}
	});
</script> 
<script>
	$('input:checkbox').change(function () {
		//var X[]={};
		//for(i=0; i<3;i++)
		//{
			var Z = $(this).val();
			//X[i]=Z;
			console.log("Element with Atomic Number " + Z + " has been acquired");
			$.ajax({
					type : 'POST',
					url : "{{url_for('process')}}",
					data : {'data' : Z},
					
					success: function(data) {
					
						//console.log(data) 
						json=JSON.parse(data);
			}
			});
		//}
	});
</script>
{% endblock content %}

<!--{% block script %}
<script>
	$('input:checkbox').change(function () {
		var name = $(this).val();
		var check = $(this).attr('checked');
		console.log("Change: " + name + " to " + check);
	});
</script>
{% endblock script%}-->