{% extends "layout.html" %}
{% block content %}
<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="/">Materials Informatics</a>
      <!--<a class="navbar-brand mr-4" href="/">Materials Informatics</a>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
          <a class="nav-item nav-link" href="{{ url_for('data') }}">Data</a>
          <a class="nav-item nav-link" href="{{ url_for('res') }}">Resources</a>
          <a class="nav-item nav-link" href="{{ url_for('blog') }}">Blog</a>
          <a class="nav-item nav-link" href="{{ url_for('forum') }}">Forum</a>
          <a class="nav-item nav-link" href="{{ url_for('team') }}">Team</a>
          <a class="nav-item nav-link" href="{{ url_for('news') }}">News</a>
        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav">
          {% if loggedin %}
            <a class="nav-item nav-link" href="{{ url_for('new_post') }}">New Post</a>
            <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
            <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
          {% else %}
            <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
            <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
          {% endif %}
        </div>
      </div>
    </div> 
  </nav>
</header>
    {% for single in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ single.avatar }}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="">{{ single.name }}</a>
              <small><em class="mr-2" href="">{{ single.affiliation }}</em></small>
              <small class="text-muted"><text class="float-right">{{ single.date }}</text></small>
            </div>
            <h2><a class="article-title" href="{{ url_for('post', post_id=single.id) }}">{{ single.title }}</a></h2>
            <p class="article-content">{{ single.content }}</p>
            <em>
              <small>The author of this post can be reached at {{ single.email }}</small>
            </em>
          </div>
        </article>
    {% endfor %}
  
{% endblock content %}