{% extends "layout.html" %}
{% block content %}
	<!--<div class="col-md-8">-->
	{% for post in posts%}
		<article class="media content-section">
			<img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
		  <div class="media-body">
		    <div class="article-metadata">
		      <a class="mr-2" href="#">{{ post.author.username }}</a>
		      <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
		    </div>
		    <h2><a class="article-title" href="{{ url_for('post', post_id=post.id) }}">{{ post.title }}</a></h2>
		    <p class="article-content">{{ post.content }}</p>
		  </div>
		</article>
	 {% endfor %}
	<!--</div>
<div class="col-md-4">
<div class="content-section">
<center><h3>Enquiries & Feedback</h3></center>
<center><p class='text-muted'>We'd like to  hear from you.
  <ul class="list-group">
    <li class="list-group-item list-group-item-light"><a href="">Raise a Concern</a></li>
    <li class="list-group-item list-group-item-light"><a href="">Add more data</a></li>
    <li class="list-group-item list-group-item-light"><a href="">Report Incorrect Data</a></li>
    <li class="list-group-item list-group-item-light"><a href="">Feedback</a></li>
  </ul>
</p></center>
</div>-->
{% endblock content %}