<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="This repository provides a source for interatomic potentials (force fields), related files, and evaluation tools to help researchers obtain interatomic models and judge their quality and applicability. Users are encouraged to download and use interatomic potentials, with proper acknowledgement, and developers are welcome to contribute potentials for inclusion. The files provided have been submitted or vetted by their developers and appropriate references are provided. All classes of potentials (e.g., MEAM, ADP, COMB, Reax, EAM, etc.) and materials are welcome. Interatomic potentials and/or related files are currently available for various metals, semiconductors, oxides, and carbon-containing systems."/>
    <meta name="author" content="Pranoy Ray"/>
    <meta name="author" content="Alankar Alankar"/>
    <!--<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='button.css') }}">-->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.css" rel="stylesheet" />    
    
    <!--Usage of the Reset Button (re-enable and uncheck all)-->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script>

      $(document).ready(function(){
        
        //$(".check").click(function(){

          //$("#unchk").prop("checked", true);

        //});
        
        $(".uncheck").click(function(){
          console.log("Reset button clicked");
          //$("#unchk").prop("checked", false);
          //document.getElementById('unchk').disabled=false;
          $('input[type=checkbox]').prop('disabled',false);
          $('input[type=checkbox]').prop('checked',false);
          $('#result').html("<strong>Please Cite Our Work!</strong> <br>The result will be displayed here");
        });

        
      
      });
      
    </script>
    
    <!-- Periodic Table -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <link rel="stylesheet" href="{{ url_for('static', filename='pt.css') }}"/>

    {% if title %}
        <title>IMaGen Lab - {{ title }}</title>
    {% else %}
        <title>IMaGen Lab</title>
    {% endif %}
</head>
<body>
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
          <a class="navbar-brand mr-4" href="/">Materials Informatics</a>
          <!--<a class="navbar-brand mr-4" href="/">Materials Informatics</a>-->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarToggle">
            <div class="navbar-nav mr-auto">
              <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
              <!--<a class="nav-item nav-link" href="{{ url_for('data') }}">Data</a>
              -->
              <a class="nav-item nav-link" href="{{ url_for('res') }}">Resources</a>
              <a class="nav-item nav-link" href="{{ url_for('blog') }}">Blog</a>
              <a class="nav-item nav-link" href="{{ url_for('forum') }}">Forum</a>
              <a class="nav-item nav-link" href="{{ url_for('team') }}">Team</a>
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
              {% if current_user.is_authenticated %}
                <a class="nav-item nav-link" href="{{ url_for('new_post') }}">New Post</a>
                <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
                <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
              {% else %}
                <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
                <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
              {% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
     <main role="main" class="container">
      <div class="row">
        <div class="col-md-12">
          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <center><div class="alert alert-{{ category }}">
                  {{ message }}
                </div></center>
              {% endfor %}
            {% endif %}
          {% endwith %}
          {% block content %}{% endblock %}
        </div>
    </div>
</main>
    <main role="main" class="container">
      <div class="row">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>



<!--Function for Max 3 checkboxes can be selected-->
<script>		
		var count = 0;
		var data = [];
		function initialize()
		{
			count = 0;
			data = [];
		} 
		function popup()
		{
			document.getElementById("warning").style.display = "none";
			document.getElementById("result").style.display = "block";
			//var x = document.getElementById("result");
			//x.style.display = "none";
			//var y = document.getElementById("warning");
			//y.style.display = "block";
			//if (x.style.display === "none") {
			//	x.style.display = "block";
			//} else {
			//	x.style.display = "none";
			//}
		}
		function check(identity) 
		{
			var x =  document.getElementsByName("chk");
			var len = x.length;   
			console.log("Start");    
			var y = document.getElementById("result");
			y.style.display = "block"
			//var y = document.getElementById("warning");
			//y.style.display = "none";      
			
			for(k=0;k<len;k++) 
			{
				if (x[k].checked==true) 
				{ 
					//console.log(x[k].checked)
					//count++; 
					document.getElementById("warning").style.display = "block";
					document.getElementById("result").style.display = "none";
					console.log("Value of x[k] " + x[k].value);
					data[count] = parseInt(identity) ;
					console.log("Element added to array: " + data[count]);
					//data is a string variable in which accpeted data is stored
					//if (i < 0) 
					//	i = k;
					if (count ==0) 
					{ 
						$(".uncheck").click(function()
						{
							console.log("AJAX has been alerted");
						});
						//chk_arr[i].checked = false; 
						console.log("1st element Checkbox"); 
						console.log(data);
						var copy=data[count];
						$.ajax({
							type : 'POST',
							url : "{{url_for('process')}}",
							data : {'data' : copy},
							
							//if(tot==1)
							//	continue;
							success: function(copy) 
							{					
								//console.log(data) 
								json=JSON.parse(copy);
								console.log(json);
								$('#result').html(json['sum']);
							}
						});
						count++;
						break;
					}
					else if (count ==1) 
					{ 
						$(".uncheck").click(function()
						{
							console.log("AJAX has been alerted");
						});
						//chk_arr[i].checked = false; 
						console.log("2nd element Checkbox"); 
						console.log(data);
						var copy=data[count];
						$.ajax({
							type : 'POST',
							url : "{{url_for('process1')}}",
							data : {'data' : copy},
							//if(tot==1)
							//	continue;
							success: function(copy) 
							{
								//console.log(data) 
								json=JSON.parse(copy);
								console.log(json);
								$('#result').html(json['sum']);
							}
						});
						count++;
						break;
					}
					else if (count == 2) 
					{ 
						$(".uncheck").click(function()
						{
							console.log("AJAX has been alerted");
						});
							//$("#unchk").prop("checked", false);
							//document.getElementById('unchk').disabled=false;
							//$('input[type=checkbox]').prop('disabled',false);
							//$('input[type=checkbox]').prop('checked',false);
						//$('#result').html("<strong>Please Cite Our Work!</strong> <br>The result will be displayed here");
						//chk_arr[i].checked = false; 
						
						console.log("3rd element Checkbox"); 
						console.log(data);
						var copy=data[count];
						
						$.ajax({
							type : 'POST',
							url : "{{url_for('process2')}}",
							data : {'data' : copy},
							
							success: function(copy) 
							{
								//console.log(data) 
								json=JSON.parse(copy);
								console.log("JSON: "+json);
								$('#result').html(json['sum']);
							}
						});

						var categories = $('#off');
						categories.prop('disabled', !categories.prop('disabled'));
						
						//$('#mainChk').on('click', function(){
						var off = $('.off');
						off.prop('disabled', !off.prop('disabled'));
						//});
						//});

						//document.getElementsByName("chk").disabled = true;
						//console.log(data[count]);
						
						count++;
						break;
					}

				}			
			} 
		}
		//	$('input:checkbox').on('click',function () {
</script> 

<!--Usage of the Reset Button-->
<!--<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script>

	$(document).ready(function(){
		
		$(".check").click(function(){

			$("#unchk").prop("checked", true);

		});
	
		$(".uncheck").click(function(){
			console.log("Uncheck button clicked");
			$("#unchk").prop("checked", false);
	
		});
	
	});
	
</script>-->


<div class="col-xs-6">
	<center><h1>ML-based Constants of Elasticity</h1>
		<div class="alert alert-info">
			<strong>Info!</strong> Select upto three elements.
		  </div>
		<div id="succeess" class="alert alert-success" role="alert" style="display:none;"></div>
		
		<!--<h3>Select upto three Elements</h3>--></center>
		<table id="unchk" >
		  <tbody>
		    <tr>
		    	<!--<label class="input-check"><input onchange="change_state(this)" type="checkbox" class="off" value="1" name="test"/></label>-->
		      <td class = "element non-metal" align='center'><div id="H"class="symbol">H<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="1"> </div></td>
		      <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element noble"><div id="He" class="symbol">He<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="2"> </div></td>
		    </tr>
		    <tr>
		      <td class="element alkali"><div id="Li" class="symbol">Li<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="3"> </div></td>
		      <td class="element alkaline"><div id="Be" class="symbol">Be<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="4"> </div></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		      <td class="element metalloid"><div id="B" class="symbol">B<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="5"> </div></td>
		      <td class="element non-metal"><div id="C" class="symbol">C<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="6"> </div></td>
		      <td class="element non-metal"><div id="N" class="symbol">N<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="7"> </div></td>
		      <td class="element non-metal"><div id="O" class="symbol">O<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="8"> </div></td>
		      <td class="element non-metal"><div id="F" class="symbol">F<br> <input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="9"> </div></td>
		      <td class="element noble"><div id="Ne"class="symbol">Ne<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="10"> </div></td>
		    </tr>
		    <tr>
		       <td class="element alkali"><div id="Na" class="symbol">Na<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="11"> </div></td>
		       <td class="element alkaline"><div id="Mg" class="symbol">Mg<br> <input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="12"> </div></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element empty"><br></td>
		       <td class="element post-transition"><div id="Al" class="symbol">Al<br> <input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="13"> </div></td>
		       <td class="element metalloid"><div id="Si" class="symbol">Si<br> <input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="14"> </div></td>
		       <td class="element non-metal"><div id="P" class="symbol">P<br> <input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="15"> </div></td>
		       <td class="element non-metal"><div id="S" class="symbol">S<br> <input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="16"> </div></td>
		       <td class="element non-metal"><div id="Cl" class="symbol">Cl<br> <input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="17"> </div></td>
		       <td class="element noble"><div id="Ar"class="symbol"> Ar<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="18"> </div></td>
		    </tr>
		    <tr>
		      <td class="element alkali"><div id="K" class="symbol"> K<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="19"> </div></td>
		      <td class="element alkaline"><div id="Ca" class="symbol">Ca<br> <input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="20"> </div></td>
		      <td class="element transition"><div id="Sc" class="symbol">Sc<br> <input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="21"> </div></td>
		      <td class="element transition"><div id="Ti" class="symbol">Ti<br> <input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="22"> </div></td>
		      <td class="element transition"><div id="V" class="symbol">V<br> <input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="23"> </div></td>
		      <td class="element transition"><div id="Cr" class="symbol">Cr<br> <input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="24"> </div></td>
		      <td class="element transition"><div id="Mn" class="symbol">Mn<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="25"> </div></td>
		      <td class="element transition"><div id="Fe" class="symbol">Fe<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="26"> </div></td>
		      <td class="element transition"><div id="Co" class="symbol">Co<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="27"> </div></td>
		      <td class="element transition"><div id="Ni" class="symbol">Ni<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="28"> </div></td>
		      <td class="element transition"><div id="Cu" class="symbol">Cu<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="29"> </div></td>
		      <td class="element post-transition"><div id="Zn" class="symbol">Zn<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="30"> </div></td>
		      <td class="element post-transition"><div id="Ga" class="symbol">Ga<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="31"> </div></td>
		      <td class="element metalloid"><div id="Ge" class="symbol">Ge<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="32"> </div></td>
		      <td class="element metalloid"><div id="As" class="symbol">As<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="33"> </div></td>
		      <td class="element non-metal"><div id="Se" class="symbol">Se<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="34"> </div></td>
		      <td class="element non-metal"><div id="Br" class="symbol">Br<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="35"> </div></td>
		      <td class="element noble"><div id="Kr" class="symbol">Kr<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="36"> </div></td>
		    </tr>
		    <tr>
		      <td class="element alkali"><div id="Rb" class="symbol">Rb<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="37"> </div></td>
		      <td class="element alkaline"><div id="Sr" class="symbol">Sr<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="38"> </div></td>
		      <td class="element transition"><div id="Y"class="symbol">Y<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="39"> </div></td>
		      <td class="element transition"><div id="Zr" class="symbol">Zr<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="40"> </div></td>
		      <td class="element transition"><div id="Nb" class="symbol">Nb<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="41"> </div></td>
		      <td class="element transition"><div id="Mo" class="symbol">Mo<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="42"> </div></td>
		      <td class="element transition"><div id="Tc" class="symbol">Tc<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="43"> </div></td>
		      <td class="element transition"><div id="Ru" class="symbol">Ru<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="44"> </div></td>
		      <td class="element transition"><div id="Rh" class="symbol">Rh<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="45"> </div></td>
		      <td class="element transition"><div id="Pd" class="symbol">Pd<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="46"> </div></td>
		      <td class="element transition"><div id="Ag" class="symbol">Ag<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="47"> </div></td>
		      <td class="element post-transition"><div id="Cd" class="symbol">Cd<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="48"> </div></td>
		      <td class="element post-transition"><div id="In" class="symbol">In<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="49"> </div></td>
		      <td class="element post-transition"><div id="Sn" class="symbol">Sn<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="50"> </div></td>
		      <td class="element metalloid"><div id="Sb" class="symbol">Sb<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="51"> </div></td>
		      <td class="element metalloid"><div id="Te" class="symbol">Te<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="52"> </div></td>
		      <td class="element non-metal"><div id="I" class="symbol">I<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="53"> </div></td>
		      <td class="element noble"><div id="Xe" class="symbol">Xe<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="54"> </div></td>
		    </tr>
		    <tr>
		      <td class="element alkali"><div id="Cs" class="symbol">Cs<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="55"> </div></td>
		      <td class="element alkaline"><div id="Ba" class="symbol">Ba<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="56"> </div></td>
		      <td class="element star">*<br></td>
		      <td class="element transition"><div id="Hf"class="symbol">Hf<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="72"> </div></td>
		      <td class="element transition"><div id="Ta"class="symbol">Ta<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="73"> </div></td>
		      <td class="element transition"><div id="W"class="symbol">W<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="74"> </div></td>
		      <td class="element transition"><div id="Re"class="symbol">Re<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="75"> </div></td>
		      <td class="element transition"><div id="Os"class="symbol">Os<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="76"> </div></td>
		      <td class="element transition"><div id="Ir"class="symbol">Ir<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="77"> </div></td>
		      <td class="element transition"><div id="Pt"class="symbol">Pt<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="78"> </div></td>
		      <td class="element transition"><div id="Au"class="symbol">Au<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="79"> </div></td>
		      <td class="element post-transition"><div id="Hg" class="symbol">Hg<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="80"> </div></td>
		      <td class="element post-transition"><div id="Tl" class="symbol">Tl<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="81"> </div></td>
		      <td class="element post-transition"><div id="Pb" class="symbol">Pb<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="82"> </div></td>
		      <td class="element post-transition"><div id="Bi" class="symbol">Bi<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="83"> </div></td>
		      <td class="element post-transition"><div id="Po" class="symbol">Po<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="84"> </div></td>
		      <td class="element metalloid"><div id="At" class="symbol">At<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="85"> </div></td>
		      <td class="element noble"><div id="Rn" class="symbol">Rn<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="86"> </div></td>
		    </tr>
		    <tr>
		      <td class="element alkali"><div id="Fr" class="symbol">Fr<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="87"> </div></td>
		      <td class="element alkaline"><div id="Ra" class="symbol">Ra<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="88"> </div></td>
		      <td class="element star">**<br></td>
		      <td class="element transition"><div id="Rf" class="symbol">Rf<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="104"> </div></td>
		      <td class="element transition"><div id="Db" class="symbol">Db<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="105"> </div></td>
		      <td class="element transition"><div id="Sg" class="symbol">Sg<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="106"> </div></td>
		      <td class="element transition"><div id="Bh" class="symbol">Bh<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="107"> </div></td>
		      <td class="element transition"><div id="Hs" class="symbol">Hs<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="108"> </div></td>
		      <td class="element unclassified"><div id="Mt" class="symbol">Mt<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="109"> </div></td>
		      <td class="element unclassified"><div id="Ds" class="symbol">Ds<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="110"> </div></td>
		      <td class="element unclassified"><div id="Rg" class="symbol">Rg<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="111"> </div></td>
		      <td class="element post-transition"><div id="Cn" class="symbol">Cn<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="112"> </div></td>
		      <td class="element unclassified"><div id="Nh" class="symbol">Nh<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="113"> </div></td>
		      <td class="element unclassified"><div id="Fl" class="symbol">Fl<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="114"> </div></td>
		      <td class="element unclassified"><div id="Mc" class="symbol">Mc<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="115"> </div></td>
		      <td class="element unclassified"><div id="Lv" class="symbol">Lv<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="116"> </div></td>
		      <td class="element unclassified"><div id="Ts" class="symbol">Ts<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="117"> </div></td>
		      <td class="element unclassified"><div id="Og" class="symbol">Og<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="118"> </div></td>
		    </tr>
		    <tr>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		       <td class=" separator"><br></td>
		    </tr>
		    <tr>
		       <td class="element empty"><br></td>
		       <td class="element star">*</td>
		       <td class="element lanthanide"><div id="La" class="symbol">La<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="57"> </div></td>
		       <td class="element lanthanide"><div id="Ce" class="symbol">Ce<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="58"> </div></td>
		       <td class="element lanthanide"><div id="Pr" class="symbol">Pr<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="59"> </div></td>
		       <td class="element lanthanide"><div id="Nd" class="symbol">Nd<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="60"> </div></td>
		       <td class="element lanthanide"><div id="Pm" class="symbol">Pm<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="61"> </div></td>
		       <td class="element lanthanide"><div id="Sm" class="symbol">Sm<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="62"> </div></td>
		       <td class="element lanthanide"><div id="Eu" class="symbol">Eu<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="63"> </div></td>
		       <td class="element lanthanide"><div id="Gd" class="symbol">Gd<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="64"> </div></td>
		       <td class="element lanthanide"><div id="Tb" class="symbol">Tb<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="65"> </div></td>
		       <td class="element lanthanide"><div id="Dy" class="symbol">Dy<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="66"></div></td>
		       <td class="element lanthanide"><div id="Ho" class="symbol">Ho<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="67"> </div></td>
		       <td class="element lanthanide"><div id="Er" class="symbol">Er<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="68"> </div></td>
		       <td class="element lanthanide"><div id="Tm" class="symbol">Tm<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="69"> </div></td>
		       <td class="element lanthanide"><div id="Yb" class="symbol">Yb<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="70"> </div></td>
		       <td class="element lanthanide"><div id="Lu" class="symbol">Lu<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="71"> </div></td>
		       <td class="element empty"><br></td>
		    </tr>
		    <tr>
		      <td class="element empty"><br></td>
		      <td class="element star">**<br></td>
		      <td class="element actinide"><div id="Ac" class="symbol">Ac<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="89"> </div></td>
		      <td class="element actinide"><div id="Th" class="symbol">Th<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="90"> </div></td>
		      <td class="element actinide"><div id="Pa" class="symbol">Pa<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="91"> </div></td>
		      <td class="element actinide"><div id="U" class="symbol">U<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="92"> </div></td>
		      <td class="element actinide"><div id="Np" class="symbol">Np<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="93"> </div></td>
		      <td class="element actinide"><div id="Pu" class="symbol">Pu<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="94"> </div></td>
		      <td class="element actinide"><div id="Am" class="symbol">Am<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="95"> </div></td>
		      <td class="element actinide"><div id="Cm" class="symbol">Cm<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="96"> </div></td>
		      <td class="element actinide"><div id="Bk" class="symbol">Bk<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="97"> </div></td>
		      <td class="element actinide"><div id="Cf" class="symbol">Cf<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="98"> </div></td>
		      <td class="element actinide"><div id="Es" class="symbol">Es<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="99"> </div></td>
		      <td class="element actinide"><div id="Fm" class="symbol">Fm<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="100"> </div></td>
		      <td class="element actinide"><div id="Md" class="symbol">Md<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="101"> </div></td>
		      <td class="element actinide"><div id="No" class="symbol">No<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="102"> </div></td>
		      <td class="element actinide"><div id="Lr" class="symbol">Lr<br><input name="chk" type="checkbox" class="off" onchange="check(this.value)" id="unchk" value="103"> </div></td>
		       <td class="element empty"><br>
		      </td>
		    </tr>
		  </tbody>
		</table>
		<hr>
		<center>
			
			

			<!--We will display our result over-->
			<!--This is called a BOOTSRAP alert-->
		
		<div class="alert alert-warning">
			<div id="warning">
				<strong>Please Cite Our Work!</strong> <br>The result will be displayed here
			</div>
		</div>
		<div class="alert alert-success">
			<div id="result">
				<!--<strong>Please Cite Our Work!</strong> <br>The result will be displayed here-->
			</div>
		</div>

		</center>
		<!-- <input type="button" value="RESET" id="myCheck" class="uncheck">
		<label for="lname">Result</label><br>
  		<input type="text" id="lname" name="lname" value=""><br><br>
  		<input type="reset" value="Reset">
		 -->
		<hr>
		<center>
			
		<div id="wrapper">
			<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
			<script src="https://cdn.jsdelivr.net/npm/sweetalert"></script>
			
			<button class="btn btn-success" id="button-a" onclick="popup()" style="margin:5px;">Submit</button><emsp>
			<button class="uncheck btn btn-danger" type="button" style="margin:5px;" onclick="initialize()">Reset</button><br><br>
			<input type="button" class="btn btn-info" onclick="location.href='https://doi.org/10.1016/j.mtla.2019.100435';" value="Cite Us" />
		</div>
		<hr>
			<!--<script src="/static/alert.js">
			//$('#button-a').click(function(){
			//	function popup(){
			//		swal("Hello World");
			//}
				//function popUp(){
					//swal({
					//title: "Thank You!",
					//text: "Will you cite our work?",
					//icon: "info",
					//buttons: true,
					//dangerMode: true,
					//})
					//.then((willDelete) => {
					//if (willDelete) {
					//	swal("Cite us here: xxxxxxx", {
					//	icon: "success",
					//	});
					//} else {
					//	swal("Poof! You're nuts.");
					//}
					//});
					//swal({
					//	title: "Thank You!",
					//	text: "Please cite our work :)",
					//	icon: "success",
					//	button: "Aww yiss!",
					//	});
				//}//
			</script>-->
		</center>

		<h2>Alloy, Compound, Coarse-Grained and Fictional Data</h2>
		<p>
		  The following is a list of all of the multi-element systems and non-elemental materials that we
		  host potentials for.  <strong>NOTE: be sure to read the potential descriptions!</strong> The
		  multi-component potentials may not be applicable to the full composition range as they are
		  often designed for specific compounds and/or composition ranges.  Coarse-grained potentials
		  reduce the simulation complexity by representing alloy compositions or molecules with a single
		  particle type.  Fictional potentials were purposefully fit to unrealistic target properties and
		  therefore <i>should not</i> be used to accurately represent real materials.
		</p>
		<div class = "elem-group">
		    
		</div>
		<hr/>

		<h1>Citing</h1>
		<p>
		  If you find this website useful <strong>please cite this project in addition to any interatomic
		  potentials you use:</strong>
		</p>
		<p>
		  A. Beniwal, R. Dadhich, A. Alankar, Deep Learning Based Predictive Modeling for Structure-Property Linkages
		  <i>Materialia</i>, <b>8(2019)</b>, p. 100435. <br>DOI:
		   <a href="https://doi.org/10.1016/j.mtla.2019.100435">10.1016/j.mtla.2019.100435</a>
		</p>
		<!--<p>
		  L.M. Hale, Z.T. Trautt, and C.A. Becker (2018), "Evaluating variability with atomistic simulations:
		  the effect of potential and calculation methodology on the modeling of lattice and elastic constants,"
		  <i>Modelling and Simulation in Materials Science and Engineering</i>, <b>26</b>, 055003. DOI:
		   <a href="https://doi.org/10.1088/1361-651X/aabc05">10.1088/1361-651X/aabc05</a>
		</p>-->
		<p>
		  URL: <a href="https://www.me.iitb.ac.in/~alankar/">https://www.me.iitb.ac.in/~alankar/</a>
		  Website DOI: <a href="#">Not Available</a>
		</p>
		<hr/>
		<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.14/dist/js/bootstrap-select.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<!--<script>
	$('input:checkbox').change(function () {
		//var X[]={};
		//for(i=0; i<3;i++)
		//{
			var Z = $(this).val();
			//X[i]=Z;
			console.log("Element with Atomic Number " + Z + " has been acquired");
			
		//}
	});
</script> -->
 </div>
      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <div class="footer">
	   <p></p>
	   <!--<p><b><u><a href="contact.html">Contact Pranoy now!</a></b></u></p>-->
	   <p><center>© Copyright 2020 Alankar - All Rights Reserved</center></p>
	   <p></p>
	</div> 
    <!--<footer>
    	<center>© Copyright 2020 Alankar - All Rights Reserved</center>
    </footer>-->
    <!--<section once="footers" class="cid-rzvQMfc2s9" id="footer6-1q">
	    <div class="container">
	        <div class="media-container-row align-center mbr-white">
	            <div class="col-12">
	                <p class="mbr-text mb-0 mbr-fonts-style display-7">
	                    <center>© Copyright 2020 Alankar - All Rights Reserved</center></p>
	            </div>
	        </div>
	    </div>
	</section>-->
</body>
</html>


<!--{% block script %}
<script>
	$('input:checkbox').change(function () {
		var name = $(this).val();
		var check = $(this).attr('checked');
		console.log("Change: " + name + " to " + check);
	});
</script>
{% endblock script%}-->