{% extends "layout.html" %}
{% block content %}
<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="/">Materials Informatics</a>
      <!--<a class="navbar-brand mr-4" href="/">Materials Informatics</a>-->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
          <a class="nav-item nav-link" href="{{ url_for('data') }}">Data</a>
          <a class="nav-item nav-link" href="{{ url_for('res') }}">Resources</a>
          <a class="nav-item nav-link" href="{{ url_for('blog') }}">Blog</a>
          <a class="nav-item nav-link" href="{{ url_for('forum') }}">Forum</a>
          <a class="nav-item nav-link" href="{{ url_for('team') }}">Team</a>
        </div>
        <!-- Navbar Right Side -->
        <div class="navbar-nav">
          {% if loggedin %}
            <a class="nav-item nav-link" href="{{ url_for('new_post') }}">New Post</a>
            <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
            <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
          {% else %}
            <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
            <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
          {% endif %}
        </div>
      </div>
    </div> 
  </nav>
</header>
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ avatar }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="#">{{ name }}</a>
        <small><em class="mr-2" href="">{{ affiliation }}</em></small>
        {% if loggedin %}
        {% if userID == session['userID']%}
        <div>
          <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_post', post_id=postID ) }}">Update</a>
          <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Delete</button>
        </div>
        {% endif %}
        {% endif %}
      </div>
      <h2 class="article-title">{{ title }}</h2>
      <p class="article-content">{{ content }}</p>
    </div>
  </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Post?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <form action="{{ url_for('delete_post', post_id=postID) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Delete">
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}