{% extends "layout.html" %}
{% block content %}
<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
      <div class="container">
        <a class="navbar-brand mr-4" href="/">Materials Informatics</a>
        <!--<a class="navbar-brand mr-4" href="/">Materials Informatics</a>-->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{{ url_for('home') }}">Home</a>
            <a class="nav-item nav-link" href="{{ url_for('data') }}">Data</a>
            <a class="nav-item nav-link" href="{{ url_for('res') }}">Resources</a>
            <a class="nav-item nav-link" href="{{ url_for('blog') }}">Blog</a>
            <a class="nav-item nav-link" href="{{ url_for('forum') }}">Forum</a>
            <a class="nav-item nav-link" href="{{ url_for('team') }}">Team</a>
          </div>
          <!-- Navbar Right Side -->
          <div class="navbar-nav">
            {% if loggedin %}
              <a class="nav-item nav-link" href="{{ url_for('new_post') }}">New Post</a>
              <a class="nav-item nav-link" href="{{ url_for('account') }}">Account</a>
              <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
            {% else %}
              <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
              <a class="nav-item nav-link" href="{{ url_for('register') }}">Register</a>
            {% endif %}
          </div>
        </div>
      </div> 
    </nav>
  </header>
	<table class="">
		<tr>
			<td>
		<article class="media content-section">
		<iframe width="332" height="200" src="https://www.youtube.com/embed/tElbqV4_IUs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</article>
</td>
	<td>
	<article class="media content-section">
	<iframe width="332" height="200" src="https://www.youtube.com/embed/XidWMz3z7I4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</article>
</td>
</tr>
<tr>
	<td>
		<article class="media content-section">
		<iframe width="332" height="200" src="https://www.youtube.com/embed/saeFQNThCGQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</article>
</td>
<td>
	<article class="media content-section">
		<iframe width="332" height="200" src="https://www.youtube.com/embed/u5qFwTdf4xM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			
		</article>
</td>
</tr>
<tr>
	<td>
		<article class="media content-section">
			<iframe sandbox src="https://www.me.iitb.ac.in/~alankar/research.html" allowfullscreen="" title="Embedded post" width="332" height="200" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</td>
	<td>
		<article class="media content-section">
		<iframe sandbox src="https://www.me.iitb.ac.in/~alankar/publications.html" allowfullscreen="" title="Embedded post" width="332" height="200" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</article>
	</td>
</tr>
</table>
		<!--<article class="media content-section">
			<iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:6479359946197700608" allowfullscreen="" title="Embedded post" width="704" height="400" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</article>
		<article class="media content-section">
			<iframe src="https://www.linkedin.com/posts/edcnitd_for-years-we-have-been-utilizing-the-earths-activity-6693748888786018304-17xD" allowfullscreen="" title="Embedded post" width="704" height="400" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</article>-->

	 
{% endblock content %}

