{% extends "layout.html" %}
{% block content %}
	<table class="">
		<tr>
			<td>
		<article class="media content-section">
		<iframe width="332" height="200" src="https://www.youtube.com/embed/tElbqV4_IUs" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</article>
</td>
	<td>
	<article class="media content-section">
	<iframe width="332" height="200" src="https://www.youtube.com/embed/XidWMz3z7I4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</article>
</td>
</tr>
<tr>
	<td>
		<article class="media content-section">
		<iframe width="332" height="200" src="https://www.youtube.com/embed/saeFQNThCGQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</article>
</td>
<td>
	<article class="media content-section">
		<iframe width="332" height="200" src="https://www.youtube.com/embed/u5qFwTdf4xM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			
		</article>
</td>
</tr>
<tr>
	<td>
		<article class="media content-section">
			<iframe sandbox src="https://www.me.iitb.ac.in/~alankar/research.html" allowfullscreen="" title="Embedded post" width="332" height="200" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</td>
	<td>
		<article class="media content-section">
		<iframe sandbox src="https://www.me.iitb.ac.in/~alankar/publications.html" allowfullscreen="" title="Embedded post" width="332" height="200" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</article>
	</td>
</tr>
</table>
		<!--<article class="media content-section">
			<iframe src="https://www.linkedin.com/embed/feed/update/urn:li:share:6479359946197700608" allowfullscreen="" title="Embedded post" width="704" height="400" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</article>
		<article class="media content-section">
			<iframe src="https://www.linkedin.com/posts/edcnitd_for-years-we-have-been-utilizing-the-earths-activity-6693748888786018304-17xD" allowfullscreen="" title="Embedded post" width="704" height="400" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		</article>-->

	 
{% endblock content %}

